@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');



html, 
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.index {
    /* display: block;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto; */
    /* background-color: black; */
}

.app {
    /* padding: 25px 50px 0px 50px; */
    /* padding-bottom: -100px; */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
    display: block;
    max-width: 2500px;
    height: 100vh;
    
    margin-left: auto;
    margin-right: auto;



    background-color: white;
    /* background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/memphis-mini.png'); */
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png');
    
}

.buttonsTop {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    
    
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    position: relative;
}

/* nav {
    min-height: 100vh;
} */

.mobileHamburger {
    visibility: hidden;
}

.navItem {
    /* border-color: black;
    border-bottom-style:solid;
    border-bottom-width: 1px; */
    border-color: black;
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navItemEntry {
    overflow: hidden;
    overflow-wrap:break-word;
    max-height: 100px;
    

}

ul {
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    margin: 0px;
    position:sticky;
    top: 0px;
    height: 75vh;
    max-height: 75vh;
    overflow: scroll;
    
}

li {
    margin-top: 5px;
    font-size: .75rem;
    padding: 10px;
    color: rgb(73, 73, 73);
    overflow:hidden;
    /* max */
}

li:hover {
    cursor: pointer;
}


.markdownEditorContainer {    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.textarea {
    resize: none;
    font-size: 1rem;
    
    border-style: solid;
    border-color: rgb(0, 0, 0);
    outline: none;
    overflow-wrap:break-word;
    /* min-width: 50%;  */
    padding: 25px;
    margin: 5px;
    /* margin-bottom: 100px; */
    background-color: rgb(255, 255, 255);
    color: black;



    border-color: black;
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    max-height: 75vh;

    
}

.markdown {
    position: sticky;
    top: 0px;
    outline: none;
    font-family: 'Roboto Mono', monospace;
    overflow: scroll;
    padding: 25px;
    margin: 5px;



    background-color: rgb(255, 255, 255);

    /* backdrop-filter: blur(2px); */

    color: rgb(32, 32, 32);



    border-color: black;
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    max-height: 75vh;
    
}

.markdown img {
    max-width: 100%;
}

.hidden {
    display: none;
}

/* CSS */
.button6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;


  border-color: rgba(0, 0, 0, 0.299);
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;

  /* box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


  box-sizing: border-box;
  color: rgba(36, 36, 36, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 5px;
  /* min-height: 3rem; */
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  
}

.button6:hover,
.button6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #00A3FF;
}

.button6:hover {
  transform: translateY(-1px);
}

.button6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


@media (max-width: 950px) {
    .app {
        padding: 0px;
        margin: 0px;
        background-color: white;
    }

    .layout {
        display: flex;
        flex-direction: column;
    }
    
    ul {
        list-style: none;
        font-family: 'Roboto Mono', monospace;
        padding: 0px;
        margin: 0px;
        position:relative;
        height: auto;
        overflow: scroll;
        
    }

    li {
        padding: 10px;
        margin: 10px;
    }

    .markdownEditorContainer { 
        display: flex;
        flex-direction: column;
    }

    .textarea {
        /* border-style: none; */
        overflow-wrap:break-word;
        padding: 10px;
        margin: 10px;
        height: 90vh;
        max-height: 90vh;
    }
    .markdown {
        position: relative;
        font-family: 'Roboto Mono', monospace;
        overflow: scroll;
        padding: 25px;
        margin: 10px;
        /* background-color: rgb(41, 41, 41); */
        color: rgb(87, 87, 87)
        
    }
    .mobileHamburger {
        visibility:visible;
        text-align: end;
        /* padding-right: 25px;
        padding-left: 15px; */
        color: rgb(0, 0, 0);
        display: inline;
        /* height: 50px; */
        
    }

}