@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');



html, 
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.index {
    /* display: block;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto; */
    /* background-color: black; */
}

.app {
    /* width: 100%;
    min-height: 100vh; */
    padding: 25px 50px 0px 50px;
    display: block;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.buttonsTop {
    /* background-color: black; */
    padding-bottom: 20px;
}

.layout {
    /* display: flex; */
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */

    /* grid-template-rows: 1fr; */
}

nav {
    min-height: 100vh;
    /* background-color: rgb(172, 75, 75); */
    /* color: rgb(0, 0, 0); */
    /* width: 250px; */
    /* flex: 0; */
    /* height: 100vh; */
    /* background-color: rgb(0, 0, 0); */
    
}

.navItem {
    
    border-right-style: solid;
    
    border-color: black;
    /* border-radius: 2px; */
    border-width: 25px;
    /* max-width: 50px; */
    /* padding-right: 25px; */
    border-bottom-style:dotted;
    border-bottom-width: 1px;
    /* border-color: black; */
}

.navItemEntry {
    overflow: scroll;
    overflow-wrap:break-word;
    max-height: 100px;

}

ul {
    
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    margin: 0px;
}

li {
    /* background-color: black;
    color: white; */
    font-size: .75rem;
    padding: 10px;
}

li:hover {
    cursor: pointer;
}


.markdownEditorContainer {    
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.textarea {
    resize: none;
    font-size: 1rem;
    border-style: none;
    border-right-style: solid;
    border-color: rgb(0, 0, 0);
    outline: none;
    overflow-wrap:break-word;
    /* min-width: 50%;  */
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    
}

.markdown {
    position: sticky;
    top: 0px;
    
    outline: none;
    font-family: 'Roboto Mono', monospace;
    overflow-x: scroll;
    /* overflow-wrap:break-word; */
    /* min-width: 50%;  */
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: black
    
}

.markdown img {
    max-width: 100%;
}

.hidden {
    display: none;
}